body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main>.section-wrapper.hero {
  height: unset;
  background-attachment: fixed;
}

.gallery {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: flex-start;
  gap: 20px;
}

.hidden {
  display: none !important;
}

.gallery h1,
.gallery p {
  width: 100%;
  text-align: center;
}

.thumb {
  width: calc(100% / 2 - 10px);
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

.thumb:focus {
  outline: var(--link-color) 2px;
}

.load-more:before {
  content: 'Load more images';
}

.copyright {
  margin-bottom: 40px;
  font-style: italic;
  font-size: 0.8em;
}

#frame {
  background-color: rgba(var(--background-color), 1);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#frame .ctrl {
  height: 40px;
  width: 40px;
  background-color: rgba(var(--background-color), 1);
  opacity: 0.25;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  cursor: pointer;
  transition: opacity 0.4s;
}

#frame .ctrl:hover {
  opacity: 0.75;
  transition: opacity 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#frame .ctrl.previous {
  left: 40px;
  padding: 2px 0 0 12px;
}

#frame .ctrl.next {
  right: 40px;
  padding: 2px 0 0 13px;
}

#frame .ctrl.hide {
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
  padding: 2px 0 0 8px;
  font-size: 18px;
}

#frame .ctrl.play {
  width: 80px;
  height: 80px;
  font-size: 36px;
  padding: 13px 0 0 28px;
  left: 47%;
  top: unset;
  bottom: 10%;
}

#frame .previous::before {
  content: "<";
}

#frame .next::before {
  content: ">";
}

#frame .hide::before {
  content: "✕";
}

#frame .play::before {
  content: "▶";
}

#frame.playing .play {
  background-color: transparent;
}

#frame.playing .play::before {
  content: "II";
  margin-left: 2px;
  font-size: 36px;
}

#frame.playing .ctrl:not(.play,.hide) {
  display: none;
}

@media (min-width: 600px) {
  .gallery {
    gap: 40px;
  }

  .thumb {
    width: calc(100% / 3 - 40px);
  }
}
